body {
	background-color: #1c1c1c;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #8bb7ff;
}

a:visited {
	color: #325998;
}

p {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.75);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	text-align: center;
}

.logo {
	animation: logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.container-redshadow {
	min-width: 300px;
	box-shadow: -2px 1px 69px 5px rgb(202, 37, 37);
	-webkit-box-shadow: -2px 1px 69px 5px rgb(202, 37, 37);
	-moz-box-shadow: -2px 1px 69px 5px rgb(202, 37, 37);
	padding: 2rem;
	border-radius: 1rem;
}

.container-greenshadow {
	min-width: 300px;
	box-shadow: -2px 1px 69px 5px rgb(65, 163, 35);
	-webkit-box-shadow: -2px 1px 69px 5px rgb(65, 163, 35);
	-moz-box-shadow: -2px 1px 69px 5px rgb(65, 163, 35);
	padding: 2rem;
	border-radius: 1rem;
}

.container-blueshadow {
	min-width: 300px;
	box-shadow: -2px 1px 69px 5px rgb(8, 107, 177);
	-webkit-box-shadow: -2px 1px 69px 5px rgb(8, 107, 177);
	-moz-box-shadow: -2px 1px 69px 5px rgb(8, 107, 177);
	padding: 2rem;
	border-radius: 1rem;
}

.container-orangeshadow {
	min-width: 300px;
	box-shadow: -2px 1px 69px 5px rgb(235, 115, 29);
	-webkit-box-shadow: -2px 1px 69px 5px rgb(235, 115, 29);
	-moz-box-shadow: -2px 1px 69px 5px rgb(235, 115, 29);
	padding: 2rem;
	border-radius: 1rem;
}

.auth-container {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.selectors-container {
	width: 50%;
	padding: 2rem;
}

.solidrow {
	display: flex;
	align-items: center;
}

.toggles-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
}

.header {
	min-height: 100vh;
	max-width: 1200px;
	margin-inline: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-size: calc(10px + 2vmin);
	color: white;
}

.link {
	color: #b318f0;
}

@media (max-width: 600px) {
	.header {
		background-color: #282c34;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		font-size: calc(10px + 2vmin);
		color: white;
	}

	.container {
		min-width: 250px;
	}

	.selectors-container {
		width: fit-content;
		max-width: 80vw;
		margin-inline: auto;
	}

	.auth-container {
		width: fit-content;
	}
}

.mdc-segmented-button__segment {
	background-color: rgba(0, 0, 0, 0.04);
	padding: 11px;
	border: none;
	cursor: pointer;
}
.mdc-segmented-button__segment--selected {
	background-color: rgba(0, 0, 0, 0.12);
}
